{% extends 'base.html' %}
{% load static %}

{% block title %}
  <title>Welcome to Taskmate</title>
{% endblock title %}

{% block content %}
</br>
  <div class="container">
    <div class="row align-items-start mt-2">
      <div class="col">
        <img src="{% static 'images\agenda1.jpg'%}" alt="Map" class="rounded-lg shadow" width="340" height="220">
      </div>
      <div class="col">
        <img src="{% static 'images\agenda3.jpg'%}" alt="Map" class="rounded-lg shadow" width="340" height="220">
      </div>
      <div class="col">
        <img src="{% static 'images\plant.jpg'%}" alt="Map" class="rounded-lg shadow" width="340" height="220">
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-md-7 offset-md-3">
        <center><p class="h2 text-primary">Cepat dan Mudah digunakan, Kapan dan Dimana saja!</p></center>
        <center><p class="h4 mt-3">"Rencanakan kegiatan, untuk hidup terencana"</p></center>
        <center><p class="h6">Aplikasi Agenda memudahkan Kamu untuk menata kegiatan dalam satu tempat.</p></center>

        <center><a href={% url 'todolist' %} ><button type="button" class="btn btn-primary btn-lg mt-3">... Mulai ...</button></a></center>
      </div>
    </div>
</div>
{% endblock content %}
